[alias]
	s = status
	c = commit
	a = add
	d = diff
	ds = diff --stat
	dh = diff HEAD
	dhs = diff HEAD --stat
	dhh = diff HEAD^
	dhhs = diff HEAD^ --stat
	l = log
	ll = log --stat
	o = checkout
	b = branch
	m = merge
	i = init
	r = reset
	rh = reset HEAD
	rr = reset HEAD^
	v = revert
	t = tag
	p = push --set-upstream
	h = rev-parse HEAD
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[init]
	defaultBranch = main
[credential]
	helper = store
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
[color]
	ui = auto
[push]
	default = current
[pull]
	rebase = false
[commit]
	gpgsign = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

{{ range $inc := .git.conditional_includes }}[includeIf "gitdir:{{ $inc.gitdir }}"]
	path = {{ $inc.include_path }}
{{ end }}
